.form {
  &__wrapper {
    border: 1px solid $concrete;
    border-radius: 8px;
    padding: 20px 6px 20px 12px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    label {
      margin-bottom: 5px;
      color: $black;
    }

    input, textarea {
      border: 1px solid $alto;
      border-radius: 5px;
      padding: 10px;
      color: $black;
      background: $white;

      &:read-only {
        color: rgba(0, 0, 0, 0.3) ;
      }
    }

    input {
      width: 50%;
    }

    textarea {
      width: 95%;
      height: 70px;
    }
  }

  &__errors {
    margin: 10px 0;
    color: red;
  }

  &__btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}