@import '../variables';

.user {
  &__card {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px;
    background: $concrete;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }


  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      color: $black;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    span {
      color: $silver;
    }
  }
}